.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detailItem {
    max-width: 100%;
    text-align: left;
    color: black;
    line-height: 1.25rem;
    padding: 30px;
    margin: 10px;
    border-radius: 1px;
    box-shadow: 0 0 2px 1px #8A25B1;
}

/* .cardHeader {
    margin: auto;
    padding-left: 1.5%;
    border-radius: 1px;
    box-shadow: 0 0 2px 1px #8A25B1;
} */

h2 {
    text-align: center;
    font-size: medium;
}
.bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 1.5%;
    border-radius: 1px;
    box-shadow: 0 0 2px 1px #8A25B1;
    background-color: #d1a3e3;
}

.bookmarkItem {
    margin: none;
}

dialog {
    border: #8A25B1;
    border-radius: 1px;
    box-shadow: 0 0 2px 2px #8A25B1;
    background-color: white;
    position: relative;
}

.deleteButtonContainer {
    display: flex;
    justify-content: space-between;
}

.deleteButton {
    border-radius: 30px;
    box-shadow: 0 0 2px 1px #8A25B1;
    background-color: #d1a3e3;
    border: none;
}
.editButton {
    border-radius: 30px;
    box-shadow: 0 0 2px 1px #8A25B1;
    background-color: #d1a3e3;
    border: none;
}
.cancelButton {
    border-radius: 30px;
    box-shadow: 0 0 2px 1px #8A25B1;
    background-color: white;
    border: none;
}
.deleteButton:hover {
    border: #8A25B1 1px solid;
    box-shadow: 0 0 4px 3px #d1a3e3;
}
.editButton:hover {
    border: #8A25B1 1px solid;
    box-shadow: 0 0 4px 3px #d1a3e3;
}
.cancelButton:hover {
    border: #8A25B1 1px solid;
    box-shadow: 0 0 4px 3px #d1a3e3;
}



@media screen and (min-width: 425px) {
    .detailItem {
        font-size: small;
    }
}

@media screen and (min-width: 768px) {
    .detailItem {
        font-size: small;
    }
}

@media screen and (min-width: 1024px) {
    .detailItem {
        font-size: small;
    }
}

@media screen and (min-width: 1440px) {
    .detailItem {
        font-size: small;
    }
}