.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detailItem {
    max-width: 100%;
    text-align: left;
    color: black;
    line-height: 25px;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    border: 1px #8A25B1 solid;
    box-shadow: 0 0 2px 2px #8A25B1;}


h2 {
    text-align: center;
}

.bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmarkItem {
    padding: 5px;
}
