.neon {
    text-align: center;
    background-color: #F09116;
    padding: 1em;
}

.eventList {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.eventCards {
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #8A25B1;
}

.cardHeader {
    margin: auto;
    padding-left: 1.5%;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #8A25B1;
}

a {
    color: black;
    text-decoration: none;
}

.cardHeader:hover {
    background-color: #d1a3e3;
}

@media screen and (max-width: 360px) {
    .cardHeader {
        background-color: #d1a3e3;
    }
    .eventCards {
        font-size: small;
    }
}
