/* .banner {
    max-width: 100%;
    height: 200px;
    position: absolute;
    z-index: -9999;

}

.bannerimg {
    object-fit: fill;
    max-width: 100%;
    text-align: center;
} */

.searchBar {
    background-image: url(../images/longest.jpg);
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.inputFields {
    padding: 10em;
}

@media only screen and (max-width: 990px) {
    .searchBar {
        height: 45vh;
    }
    /* .inputFields {
        padding: 22%;
    } */
}

@media only screen and (max-width: 680px) {
    .searchBar {
        height: 35vh;
    }
    /* .inputFields {
        padding: 20%;
    } */
}
@media only screen and (max-width: 480px) {
    .searchBar {
        height: 25vh;
    }
    /* .eventList {
        padding-top: 22%;
    } */
}
@media only screen and (max-width: 400px) {
    /* .eventList {
        padding-top: 22%;
    } */
}
@media only screen and (max-width: 360px) {
    /* .eventList {
        padding-top: 22%;
    } */
}

