.banner {
    max-width: 100%;
    position: relative;
}

.bannerimg {
    object-fit: fill;
    max-width: 100%;
    text-align: center;
}

@media only screen and (max-width: 990px) {
    .bannerimg {
        max-width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .bannerimg {
        max-width: 100%;
        
    }

}
@media only screen and (max-width: 400px) {
    .bannerimg {
        max-width: 100%;
        
    }
}

