header {
    margin: 0;
    position: sticky;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 9em;
    align-items: center;
}
h1 {
    margin: 0;
    padding: 0;
    color: black;
    white-space: nowrap;
	font-size: 5em;  
	font-weight: bolder;
    font-family: 'Share Tech Mono', monospace;	
}

@media only screen and (max-width: 1070px) {
    h1 {
        font-size: 3em;
        white-space: nowrap;
    }
    header {
        height: 7em;
    }

}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 1.5em;
    }
    header {
        height: 3em;
    }
}