header {
    margin: 0;
    padding: 0;
    position: sticky;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 120px;
    opacity: 0.9;
}
h1 {
    margin: 0;
    padding: 0;
    color: black;
    white-space: nowrap;
	font-size: 5em;  
	font-weight: 900;
	
}
.titleContainer {
    flex: 3;
}
.title {
    padding-right: 2em;
}