.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F09116;
    list-style: none;
    padding: 10px;
    font-weight: bold;
    padding-right: 1em;
}

.navbar__link {
    flex: 1;
    white-space: nowrap;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
ul {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow-wrap: break-word;
}

@media only screen and (max-width: 990px) {
    h1 {
        font-size: 3em;
        margin: 0;
        padding: 0;
        color: black;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 315px) {
    .navbar  {
        font-size: em;
        font-weight: 400;
        margin: 0;
        padding: 0;
        color: black;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 315px) {
    .navbar  {
        font-size: em;
        font-weight: 400;
        margin: 0;
        padding: 0;
        color: black;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}